@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color:#a9a9ac;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height:  100vh;
}

.quiz-container{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 18 0 10px 2px rgba(0, 0, 0, 0.1);
    width: 500px;
    max-width: 100%;

}

h2{
    margin: 0;
    font-weight: bolder;
}

ul li{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1rem 0;
}

ul li label{
    cursor: pointer;
}

.quiz-header{
    padding: 3rem;
}

ul{
    list-style-type: none;
    padding: 0;
}

button{
    background-color: #1e2a56;
    border: none;
    border-radius: 0 0 10px 10px;
    display: block;
    color: aliceblue;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 1000;
    width: 100%;
    padding: 0.6rem;
}

button:hover {
    background-color:#0c142a;
}

.footer {
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    color: white;
    text-align: center;
    background-color: rgb(94, 94, 94);
    }