@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url(https://images.unsplash.com/photo-1542718610-a1d656d1884c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
}